.brand-primary { color: $brand-primary; }
.brand-secondary { color: $brand-secondary; }

.bg-brand-primary { background-color: $brand-primary; }
.bg-brand-secondary { background-color: $brand-secondary; }

.p-header { padding-top: $header-height; }
.p-footer { padding-bottom: $footer-height; }
