.p-header { padding-top: $header-height; }
.p-footer { padding-bottom: $footer-height; }


/**
 * Darken links/buttons on hover
 */
.darken {
  box-shadow: 0 0 transparent inset;
  transition: box-shadow 0.25s ease-in-out;
}
.darken:hover,
.darken:focus {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.10)
}
.darken:active {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.20)
}
