$baseFontFamily: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$baseFontWeight: normal;
$baseFontSize: 15px;
$baseLineHeight: 18px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body, #app-root {
  height: 100%;
}

body, button, input, textarea {
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

#app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  section#main {
    order: 1;
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
  }

  header {
    order: 0;
    flex-shrink: 0;
    background: #333;
    height: 50px;
    border-bottom: 1px solid #111;

    padding: 0 20px;
    font-size: 1.5em;
    line-height: 50px;
    color: #ddd;
  }

  footer {
    order: 2;
    flex-shrink: 0;
    background: #ddd;
    height: 40px;
    border-top: 1px solid #ccc;

    padding: 0 20px;
    font-size: 0.9em;
    line-height: 40px;
  }
}
